.papper
{
    background:rgba(243, 82, 123, 0.527);
}
.header
{
    background-clip: inherit;
}
h1 
{
    text-align:center;
    color : rgb(7, 2, 0);
    
}

p
{
    color: black;
    text-align: center;
    text-size-adjust: 12;
}
.spele
{
    width:350px;
    background:black;
}
h2 
{
    color:brown;
    text-align:center;
}