
.navigacija{
    background:#3d405b;
     padding:20px;
    border-radius:25px;
    box-shadow:0 8px 6px -6px black;
}
.navigacija ul {
list-style-type:none;
font-size:18px;
font-weight:bold;
font-family: "Book Antiqua";
text-align:center;
padding:10px

}
.navigacija li{
    float: left;
    padding:20px;
    text-align:center;

}
li a{
    text-decoration:none;
    color:#bcbf;
}
li a:hover{
    background-color: #941c4e;
    color: #bbcbd3;
    padding:5px;

}
.navigacija p{
    color:black;
    
}
body{
    background-color:#f28482;
}
.noteikumi{
    margin:20px;
    border-radius:25px;
    border:3px solid #464c4f;
    box-shadow:0 8px 6px -6px black;
}


h1 
{
    text-align:center;
    color : brown;
    font-family: 'Pushster';
    letter-spacing:10px;
    text-shadow: 0 1px 0 #f3f3f3;

}
ul 
{text-align:center}

p
{
    color: black;
    text-align: center;
    text-size-adjust: 20;
    font-family:  "Book Antiqua";
}
.spele
{
    padding:20px 0;
    height:600px;
    border:3px solid #464c4f;
    background:#3d405b;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:0 8px 6px -6px black;
    border-radius:25px;
   
}
.speletajs{
    text-align:center;
    padding:10px;
    
}
input {
    padding:15px 0;
    text-align:center;
    border-radius:25px;
    background-color:rgb(139, 165, 212);
    color:black;
    margin:20px 0;
    font-size:20px;
}
button{
    font-size:30px;
    cursor:pointer;
    border:darkcyan;
    text-decoration:none;
    margin-top:10px;
    color:brown;
    font-family: 'Pushster';
    border-radius:10px;
    
    
}
.punkti{
    font-size:20px;
    font-family: 'Pushster';
    color:brown;
    padding:10px;
}
.zinojums{
    font-size:30px;
    font-family: "Book Antiqua";
    color:rgb(7, 7, 7);
}
.laiks{
    font-size:20px;
    font-family: 'Pushster';
    color:brown;
    

}
h2 
{
    color:brown;
    text-align:center;
    font-family: 'Pushster';
}
.block
{
    display:inline-block;
    background:burlywood;
    width: 100px;
    height:100px;
    border:1px solid black;
}
.rezultati{
    margin:20px;
    border-radius:25px;
    box-shadow:0 8px 6px -6px black;

    border:3px solid #464c4f;
}
.veidotaji{
    margin:20px;
    border-radius:25px;
    border:3px solid #464c4f;
    box-shadow:0 8px 6px -6px black;
}